<div class="well">
	<h3>Редактирование темы</h3>
	<%= render 'form' %>
	<div class="btn-group pull-right">
		<%= link_to 'Просмотр', @topic, :class => 'btn' %>
		<%= link_to 'Список тем', topics_path, :class => 'btn' %>
	</div>
	<div class="clearfix"></div>

</div>
