<div class="well">
<h3>Редактирование вакансии</h3>
<%= render 'form' %>
<div class="btn-group pull-right">
	<%= link_to 'Просмотр', @vacancy, :class => 'btn' %>
	<%= link_to 'Список вакансий', vacancies_path, :class => 'btn' %>
</div>
<div class="clearfix"></div>
</div>


