<div class="well">
	<h3>Редактирование группы</h3>

	<%= render 'form' %>
	<div class="btn-group pull-right">
		<%= link_to 'Просмотр', @group, :class => 'btn' %>
		<%= link_to 'Список групп', groups_path, :class => 'btn' %>
	</div>
	<div class="clearfix"></div>
</div>


