<div class="well">
	<h3>Editing group</h3>

	<%= render 'form' %>
	<div class="btn-group pull-right">
		<%= link_to 'Show', @group, :class => 'btn' %>
		<%= link_to 'Back', groups_path, :class => 'btn' %>
	</div>
	<div class="clearfix"></div>
</div>


