<div class="row-fluid">
  <% articles.sort_by(&:updated_at).reverse.each do |article| %>
	<div class='well span6'>
	  <div class="article-list-item-2">
	  	<%= image_tag article.img_url, :class => 'thumbnail span5 pull-left' %>
		<h4><%= link_to article.header, article %></h4>
		<%= article.preview %>
		<div class="gradient">
		</div>
	  </div>
	</div>
  <% end %>
</div>