/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  height: 100%;
  background-color:#f7f7f7 !important;
}
a:hover {
  color:blue;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  background-color:#fff;
}
.content{
  position: relative;
}

#push, #footer {
  height: 40px;
}
#footer {
  background-color: #DDD;
  line-height: 40px;
}
#footer .container a{
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

span.label-trade_union {
  background-color: #3a87ad;
}

span.label-fresh {
  background-color: #00CC33;
}

span.label-decanat {
  background-color: #468847;
}

span.label-self_government {
  background-color: #f89406;
}

span.label-trade_union a:hover {
  background-color: #3a87ad;
}

span.label-decanat a:hover {
  background-color: #468847;
}

span.label-self_government a:hover {
  background-color: #f89406;
}

span.label-trade_union a{
  color: #fff;
}

span.label-decanat  a{
  color: #fff;
}

span.label-self_government a{
  color: #fff;
}

.groups {
  border-right: 1px solid #ccc;
  height: 500px;
}

.groups:last-of-type  { 
  border-right: 0 !important;
 }

#main-wrapper{
  background-color:#fff;
}

.articles-list > div:nth-child(2n+1) {
  margin-left: 0;
}
.articles-list-item:nth-child(2n+1) {
  margin-left: 0 !important;
}
.articles-list-item{
  margin: 20px 0;
}
.articles-list-item .thumbnail{
  margin-right: 10px;
  margin-bottom: 5px;
  max-height: 180px;
}
.articles-list-item h4{
  margin-top:0;
}
.articles-list-item .article-preview{
  height: 200px;
  overflow: hidden;
  position: relative;
}

.article-list-item-2{
  height: 200px;
  overflow: hidden;
  position: relative;
}
.article-list-item-2 h4{
  margin-top:0;
}
.article-list-item-2 h4 a{
  text-decoration: underline;
}
.article-list-item-2 .thumbnail{
  margin-right: 10px;
  margin-bottom: 5px;
  max-height: 200px;
}
.article-list-item-2 .gradient{
  position:absolute;
  bottom:0;
  left:0;
  height:50px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245,245,245,0.0)), to(rgba(245,245,245,1.0)));
}

.article h2{
  margin-top: 0;
}
.article .thumbnail{
  margin: 0 10px 5px 0;
}

.b-day select{
  width: 105px;
}
.b-day #user_birthday_3i{
  width: 60px;
}
.b-day select:last-child{
  width: 75px;
}

.users-list li{
  height: 70px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.users-list li .thumbnail{
  max-width: 100px;
}
.users-list li .email{  
  margin-left: 120px;
}
.new-schedule input{
  margin-bottom: 0 !important;
}
.aboutme textarea {
  width: 85%;
  height: 200px;
}

img.social_link:hover {
  box-shadow: 3px 3px 4px #000;
}
.vacancy-description textarea {
  width: 80%;
  height: 320px;
}