<% if current_user && current_user.teacher%>
  <%= link_to 'Загрузить файл', new_upload_path, :class => 'btn btn-primary pull-right' %>
<br/><br/>
<% end %>

<div class="accordion" id="accordion2" style="background-color:#fff;">
  <% @users.each do |user| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <%= "#{user.surname} #{user.name} #{user.patronymic} #{user.department}" %></a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render "uploads", :uploads => user.uploads %>
        </div>
      </div>
    </div>    
  <% end %>
</div>
