<ul class="nav pull-right" id="loginbar"> 
  <% if user_signed_in? %>
    <li>
      <%= link_to (current_user.nickname || current_user.name || current_user.email), edit_user_path(current_user.id) %>
    </li>
    <li>
      <%= link_to "Выйти", destroy_user_session_path %>
    </li>
  <% else %>  
    <li><%= link_to "Войти", new_user_session_path%> </li>
    <li><%= link_to "Регистрация", new_user_path%> </li>
  <% end %>
</ul>
